# Ambiente de Execução
ENVIRONMENT=development

# JsonWebToken Config
JWT_TTL=7200000
JWT_SECRET=SECRET
JWT_ISSUER=bookshelf
JWT_AUDIENCE=bookshelf

DATABASE_URL=postgres://username:password@postgres:5432/dbname